<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.fzkj.mapper.ProductMapper">

	<!-- 查询热门商品 -->
	<select id="findHot" resultType="cn.fzkj.pojo.product">
		select * from product where is_hot = 1 order by pdate desc limit 10
	</select>

	<!-- 查询最欣商品 -->
	<select id="findNew" resultType="cn.fzkj.pojo.product">
		select * from product order by pdate desc limit 10
	</select>
	
	<!-- 通过pid查找商品 -->
	<select id="findBypid" resultType="cn.fzkj.pojo.product">
		select * from product where pid=#{pid}
	</select>
	
	<!-- 查询一级分类下的商品的数量 -->
	<select id="findCountCid" parameterType="int" resultType="int">
		select count(*) from category c ,categorysecond cs ,product p where c.cid=cs.cid and cs.csid=p.csid and c.cid=#{cid}
<!-- 		select count(*) from product  p where p.categorySecond.category.cid=#{cid} -->
	</select>
	
	<!-- 建立categorysecond表和product表之间的关系 -->
	<resultMap type="cn.fzkj.pojo.product" id="findpage">
		<result property="pid" javaType="java.lang.Integer" column="pid" />
		<result property="pname" javaType="java.lang.String" column="pname" />
		<result property="market_price" javaType="java.lang.Double" column="market_price" />
		<result property="shop_price" javaType="java.lang.Double" column="shop_price" />
		<result property="image" javaType="java.lang.String" column="image" />
		<result property="pdesc" javaType="java.lang.String" column="pdesc" />
		<result property="is_hot" javaType="java.lang.String" column="is_hot" />
		<result property="pdate" javaType="java.util.Date" column="pdate" />
		<result property="csid" javaType="java.lang.Integer" column="csid" />
		<!-- 配置多对一 
			错的，被骗了
		..好像没有被骗，是我上我的javaType写错了，不好意思
		-->
		<association property="categorySecond" javaType="cn.fzkj.pojo.CategorySecond">
			<result property="csid" javaType="java.lang.Integer" column="csid" />
			<result property="csname" javaType="java.lang.Integer" column="csname" />
			<result property="cid" javaType="java.lang.Integer" column="cid" />
		</association>

	</resultMap>
	
	<!-- 查询每一页显示的数据集合cid
		传过来的参数要怎么用？
		
	 -->
	<select id="findByPageCid" resultMap="findpage">
		select p.* from product p, category c,categorysecond cs where c.cid=cs.cid and cs.csid=p.csid and c.cid=#{param1} limit #{param2},#{param3} 
	</select>
	
	<!-- 查询二级分类下 的商品数量 -->
	<select id="findCountCsid" parameterType="int" resultType="int">
		select count(*) from product p,categorysecond cs where p.csid=cs.csid and cs.csid=#{csid}
	</select>
	
	<!-- 分页查询每一页显示的数据集合通过csid -->
	<select id="findByPageCsid" resultMap="findpage">
		select p.* from product p , categorysecond cs where cs.csid=p.csid and cs.csid=#{param1} limit #{param2},#{param3}
	</select>
	
	
</mapper>